@import "tailwindcss";




@theme {
  --color-grey-7: hsl(0, 0%, 20%);
  --color-grey-8: hsl(0, 0%, 12%);
  --color-grey-9: hsl(0, 0%, 8%);
  --color-Green: hsl(75, 94%, 57%);
  --font-fontFamily: "Inter", sans-serif;
}


@layer base {
  img {
    @apply max-w-full h-auto;
  }

  h1 {
    @apply font-bold text-amber-50 text-[clamp(1.25rem,2vw+0.5rem,1.5rem)];
  }
  ul {
  @apply list-none p-0 m-0;
}

a {
  @apply rounded-lg text-white block py-2 transition duration-500 ease-in-out hover:bg-Green hover:text-black hover:scale-[1.05] font-semibold ;
}

}

@layer components {
  .profile {
    @apply w-full max-w-[380px] mx-auto bg-grey-8  p-6 md:p-8 rounded-2xl shadow-lg;
  }

  .profile-img {
    @apply rounded-full w-[80px] md:w-[90px] mx-auto mb-4;
  }

  .profile-location {
    @apply text-Green text-[clamp(0.75rem,1vw+0.5rem,0.875rem)] mb-6;
  }

  .profile-bio {
    @apply mb-5  text-[14px] px-4; 
  }

  .social-links {
    @apply space-y-4;
  }

  .social-links li {
    @apply bg-grey-7 rounded-lg;
  }
}
